<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>
</dl>

<dl>
  <td>Edad:</td>
  <dd>{{ age }}</dd>
</dl>

<dl>
  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>
</dl>

<dl>
  <td>Capitalizado:</td>
  <dd>{{ capitalizeName }}</dd>
</dl>

<button
  *ngIf="name !== 'Thor'"
  class="btn btn-primary mx-2"
  (click)="changeHero()"
>
  Cambiar Nombre
</button>
<button *ngIf="age !== 20" class="btn btn-primary" (click)="changeAge()">
  Camibar Edad
</button>
<button class="btn btn-primary" (click)="resetForm()">Reset</button>
